.settings {
  display: flex;
  flex-direction: column;
  margin: 0px 32px;
  padding-top: 16px;
  gap: 24px;

  h2 {
    text-align: left;
  }

  label {
    text-align: left;
  }

  .input,
  .custom-select {
    margin: 0 16px;
  }
}

@media (max-width: 1024px) {
  .settings {
    padding-top: 64px;
  }
}
