:root {
  font: 18px/145%;
  letter-spacing: 0.18px;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  --background: #ffffff;
  --background-2: #cccccc;
  --background-3: #b9b9b9;
  --background-4: #fafafa;
  --background-5: #fafafa;
  --border: #000000;
  --border-2: #1b1b1b;
  --text: #1c1b22;
  --red: lightcoral;
  --green: lightgreen;

  @media screen and (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1c1b22;
    --background-2: #292929;
    --background-3: #363636;
    --background-4: #ffffff;
    --background-5: #1c1c1a;
    --border: #ffffff;
    --border-2: #fffff1;
    --text: #ffffff;
    --red: darkred;
    --green: darkgreen;
  }
}

#root {
  /*width: 1126px;*/
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
  font-weight: 500;
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;

  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;

  @media (max-width: 1024px) {
    font-size: 20px;
  }
}

p {
  margin: 0;
}
