.confirm-page {
  flex: 1;
  text-align: left;
  padding-top: 100px;
  display: flex;
  transition: all 0.2ms ease;

  .mobile-menu {
    display: none;
  }

  .content {
    display: flex;
    flex: 1;
    text-align: left;
    transition: all 0.2ms ease;
  }

  .header {
    justify-content: space-between;
    display: flex;
    flex: 1;
    position: fixed;
    z-index: 2;
    top: 0;
    width: calc(100vw - 48px);
    background-color: var(--background);

    .left-side {
      text-align: left;

      span {
        font-size: 9pt;
      }
    }
  }

  .left {
    flex: 1;
    border-right: 1px solid var(--border);
    z-index: 2;
    transition: all 0.2ms ease;
    overflow-y: scroll;
  }

  .right {
    flex: 1;
    transition: all 0.2ms ease;

    .popup-content {
      color: black;
    }
  }

  .failed-results,
  .header,
  .results {
    padding: 16px 24px;
    border-bottom: 1px solid var(--border);
  }
}

@media (max-width: 1024px) {
  .confirm-page {
    .results {
      padding-bottom: 12vh;
    }

    .confirm-button {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      height: 10%;
      border-radius: 0;

      font-size: 20px;
    }

    .mobile-menu {
      display: block;
      align-self: center;
    }

    .right,
    .left {
      z-index: 1;
      display: none;
      border-right: none;

      &.open {
        display: block;
      }
    }
  }
}
